@charset "UTF-8";

div.container {
    border: 3px solid black; /* Borda preta de 3px */
    display: grid; /* Define o container como grid */
    grid-template-rows: repeat(3, 100px); /* Três linhas de 100px cada */
    grid-template-columns: repeat(4, 1fr); /* Quatro colunas de tamanho igual */
    gap: 5px; /* Espaçamento de 5px entre os itens */
}

div.caixa1 {
    text-align: center;
    background-color: red;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4; /* Ocupa da coluna 1 até a coluna 5 */
}

div.caixa2 {
    text-align: center;
    background-color: green;
    grid-row: 2 / 4; /* Ocupa da linha 2 até a linha 4 */
    grid-column: 1 / 3; /* Ocupa da coluna 1 até a coluna 3 */
}

div.caixa3 {
    text-align: center;
    background-color: blue;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}



