@charset "UTF-8";

div.container {
    border: 3px solid black; /* Borda preta de 3px */
    display: grid; /* Define o container como grid */
    grid-template-rows: repeat(3, 100px); /* Três linhas de 100px cada */
    grid-template-columns: repeat(4, 1fr); /* Quatro colunas de tamanho igual */
    gap: 5px; /* Espaçamento de 5px entre os itens */
}

div.caixa1 {
    text-align: center;
    background-color: red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

div.caixa2 {
    text-align: center;
    background-color: green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

div.caixa3 {
    text-align: center;
    background-color: blue;
    grid-row-start: 2; /* Inicia na segunda linha */
    grid-row-end: 4; /* Termina na quarta linha */
    grid-column-start: 3; /* Inicia na terceira coluna */
    grid-column-end: 5; /* Termina na quinta coluna, ocupando duas colunas */
}



